html, body {
  margin: 0;
  padding; 0;
  height: 100%;
  font-family: Dosis !important;
  overflow: hidden;
}

.card-board {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  background: #ECECEC;
  background-image: url("background.png");
  background-size: cover;
  position: absolute;
  overflow: auto;
}

.card {
  width: 0;
  height: 0;
  padding: 1em;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #FFF;
  color: #212121;
  z-index: 0;
  overflow-y: auto;
}

.dark-card {
  background: #2c2c2c;
  /*background: #263238;*/
  color: white;
}

.dark-card .close-button {
  color: white;
}

.dark-card .edit-button {
  color: white;
}

.colorbar-card {
  background-image: linear-gradient(rgb(86, 207, 195) 0.5em, transparent 0%)
}

.title {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.date {
  color: #888888;
  padding: 0;
  font-size: 1em;
  padding-top: 0.5em;
  margin: 0;
}

.details {
  font-family: 'Oxygen' !important;
  font-weight: 400;
  line-height: 1.5em;
}


@keyframes raise3-4 {
  from {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  to {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@-webkit-keyframes raise3-4 {
  from {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  to {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@keyframes raise4-5 {
  from {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  to {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

@-webkit-keyframes raise4-5 {
  from {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  to {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: raise3-4 0.5s;
  -webkit-animation: raise3-4 0.5s;
  z-index: 2;
}

.card:active {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  animation: raise4-5 0.5s;
  -webkit-animation: raise4-5 0.5s;
  z-index: 2;
}

.new-card-button {
  z-index: 2;
  background: #26A69A;
  border: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  color: white;
  font-size: 24pt;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.new-card-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: raise3-4 0.5s;
  -webkit-animation: raise3-4 0.5s;
}

.new-card-button:focus {
  border: 0px;
  outline: none;
}

.new-card-dialog, .edit-card-dialog {
  visibility: hidden;

  width: 35%;
  height: 40%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 1em;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: #FFF;
  color: #212121;
  z-index: 3;
  overflow-y: auto;
}

.new-card-dialog-title, .edit-card-dialog-title {
  padding: 0.2em;
  font-size: 18pt;
  font-weight: bold;
  width: 70%;
  max-width: 100%;
  border: none;
  font-family: Dosis !important;
  color: #888888;
}

.new-card-dialog-title:focus, .edit-card-dialog-title:focus{
  color: #2d2d2d;
  border: none;
  outline: none;
}

.new-card-dialog-details, .edit-card-dialog-details{
  padding: 0.5em;
  font-size: 14pt;
  width: 95%;
  max-width: 95%;
  border: none;
  font-family: 'Oxygen' !important;
  font-weight: 400;
  line-height: 1.5em;
}

.new-card-dialog-details:focus, .edit-card-dialog-details:focus{
  color: #2d2d2d;
  border: none;
  outline: none;
}

.close-button {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  color: #808080;
  background: none;
  border: none;
  font-size: 16pt;
}

.edit-button {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  color: #808080;
  background: none;
  border: none;
  font-size: 16pt;
}

.new-card-dialog-date, .edit-card-dialog-date {
  font-size: 14pt;
  font-weight: bold;
  width: 70%;
  max-width: 80%;
  border: none;
  font-family: Dosis !important;
  color: #888888;
}


.new-card-date-div {
  padding-left: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  border: none;
  font-family: Dosis !important;

}

.new-submit-button {
  border: none;
  padding: 1em;
  background: #2962FF;
  color: white;
  text-transform: uppercase;
  float: right;
}

.overlay {
  position:fixed;
  display:none; 

  background-color: rgba(0, 0, 0, 0.5);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;

}

.toggle-dark-theme-button {
  z-index: 2;
  background: white;
  border: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 150px;
  right: 15px;
  margin: 30px;
  color: #2c2c2c;
  font-size: 16pt;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toggle-dark-theme-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: raise3-4 0.5s;
  -webkit-animation: raise3-4 0.5s;
}

.toggle-dark-theme-button:focus {
  outline: none;
}

.toggle-dark-theme-button-dark {
  /* wow meta */
  color: white;
  background-color: #2c2c2c;
}

.new-board-button {
  z-index: 2;
  background: white;
  border: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 90px;
  right: 15px;
  margin: 30px;
  color: #2c2c2c;
  font-size: 16pt;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.new-board-button-dark {
  color: white;
  background-color: #2c2c2c;
}

.new-board-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: raise3-4 0.5s;
  -webkit-animation: raise3-4 0.5s;
}

.new-board-button:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.login {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.password-submit-button {
  border: none;
  padding: 1em;
  background: #2962FF;
  color: white;
  text-transform: uppercase;
  float: right;
}

.show-pass-dialog-button {
  z-index: 2;
  background: #607d8b;
  border: 0px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 90px;
  margin: 30px;
  color: white;
  font-size: 24pt;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show-pass-dialog-button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: raise3-4 0.5s;
  -webkit-animation: raise3-4 0.5s;
}

.show-pass-dialog-button:focus {
  border: 0px;
  outline: none;
}

.setpassworddiv {
  display: absolute;
  padding: 20px;
}
